<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About Us</h2>
          <p>
            Achieve, and maintain, your goals, even with a busy schedule.
          </p>
          <ul
            class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
          >
            <li class="ftco-animate">
              <a href="https://twitter.com/rpwolfit"
                ><span class="icon-twitter"></span
              ></a>
            </li>
            <li class="ftco-animate">
              <a href="https://www.facebook.com/rpwolfit"
                ><span class="icon-facebook"></span
              ></a>
            </li>
            <li class="ftco-animate">
              <a href="https://www.instagram.com/rpwolfit_"
                ><span class="icon-instagram"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Recent Blog</h2>
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img mr-4"
              style="background-image: url(images/image_1.jpg)"
            ></a>
            <div class="text">
              <h3 class="heading"><a href="/blog-single">COVID SHEILD</a></h3>
              <div class="meta">
                <div>
                  <a href="#"
                    ><span class="icon-calendar"></span> August 16, 2020</a
                  >
                </div>
                <div>
                  <a href="#"
                    ><span class="icon-person"></span> Ranjan Patni</a
                  >
                </div>
                <!-- <div><a href="#"><span class="icon-chat"></span> 19</a></div> -->
              </div>
            </div>
          </div>
          <!-- <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> January 04, 2019</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Services</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Home Workout</a></li>
            <li><a href="#" class="py-2 d-block">Gym Workout</a></li>
            <li><a href="#" class="py-2 d-block">Shape-Up/Lifestyle</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text">Kolhapur, Maharashtra, INDIA</span>
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-phone"></span
                  ><span class="text">+91 72196 76919</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">ranjanpatni10@gmail.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Webquanta can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart text-danger" aria-hidden="true"></i> by
          <a href="https://webquanta.in" style="color: pink" target="_blank"
                >WebQuanta</a
              >
          |  <a href="/privacy">
            Privacy Policy 
          </a>
          <!-- Link back to WebQuanta can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
       <a href="/">
      
        <img height="100px" src="images/logo/logo2.png" alt="rpwolfit">
      </a>
      </div>
    </div>
  </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen preloader">
  <!-- <svg id="Layer_13" class="preload-logo" data-name="Layer 13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 406.13 508.27"><defs><style>.cls-1{fill:#d1d3d4;}.cls-2{fill:#f1f2f2;}.cls-3{fill:#231f20;}.cls-4{fill:#565559;}.cls-5{fill:#fff;}.cls-6{clip-path:url(#clip-path);}.cls-7{clip-path:url(#clip-path-2);}.cls-8{fill:#939598;}.cls-9{fill:url(#linear-gradient);}.cls-10{fill:url(#linear-gradient-2);}.cls-11{fill:#707074;}.cls-12{clip-path:url(#clip-path-3);}.cls-13{fill:#ef3741;}.cls-14{clip-path:url(#clip-path-4);}.cls-15{fill:#2472b7;}.cls-16{fill:#414042;}.cls-17{fill:#30363c;}</style><clipPath id="clip-path" transform="translate(-89.92 -59.44)"><path class="cls-1" d="M293,147.68c28.44-1.9,47.26-2,55.4-16.72s17.14-36.71,31-41.15c-14.22,16.23-20.7,24.39-22.78,42-2.3,13.56,17.59,31,29.34,37.3s68.67,54.41,75.14,82,19.87,59.58,35,63.91c0,0-4.32,17.28-41.89,14.26,2.15,44.91-2.6,90.25-14.26,105.37-5.61-36.71-10.79-35.84-17.27-44.05,0,25.45-11.21,88.25-23.32,105.37,2.59-28.93-5.54-61.92-9.93-55.71-17.71,25.05-27.21,68.67-22,83.35-11.23-9.07-20.73-30.66-21.16-38C315.53,513.3,293,548.71,293,567.71Z"/></clipPath><clipPath id="clip-path-2" transform="translate(-89.92 -59.44)"><path class="cls-2" d="M293,147.68c-14.79-1-46.84-2.76-54.42-18.11s-14-29.21-27.66-39.89c14.21,16.23,16.78,22.42,18.94,34.95s-18.62,40.29-29.8,44.48-68.66,54.41-75.14,82-19.87,59.58-35,63.91c0,0,4.32,17.28,41.89,14.26-2.16,44.91,2.59,90.25,14.25,105.37,5.61-36.71,10.8-35.84,17.27-44.05,0,25.45,11.21,88.25,23.32,105.37-2.59-28.93,5.54-61.92,9.94-55.71,17.7,25.05,27.2,68.67,22,83.35,11.23-9.07,20.73-30.66,21.16-38C270.43,513.3,293,548.71,293,567.71Z"/></clipPath><linearGradient id="linear-gradient" x1="228.74" y1="296.67" x2="221.9" y2="322.86" gradientTransform="matrix(-1, 0, 0, 1, 541.11, 0)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#707074"/><stop offset="0.59" stop-color="#5e5e5f"/><stop offset="1" stop-color="#565656"/></linearGradient><linearGradient id="linear-gradient-2" x1="280.56" y1="284.14" x2="276.31" y2="300.44" gradientTransform="matrix(1, 0, 0, 1, 0, 0)" xlink:href="#linear-gradient"/><clipPath id="clip-path-3" transform="translate(-89.92 -59.44)"><path class="cls-3" d="M217.79,257.44c14.68-8.64,28.94-7.34,35-3.45s12.53,14.25,9.5,28.5c0,0-3.31-7.64-18.19-9.54S230.32,260.9,217.79,257.44Z"/></clipPath><clipPath id="clip-path-4" transform="translate(-89.92 -59.44)"><path class="cls-3" d="M371.66,257.44c-14.69-8.64-28.94-7.34-35-3.45s-12.53,14.25-9.51,28.5c0,0,3.32-7.64,18.2-9.54S359.13,260.9,371.66,257.44Z"/></clipPath></defs><g id="Layer_5" data-name="Layer 5"><path class="cls-4" d="M145.93,220.26s-20.48-55.41-9-97.58,19.88-59,25.3-63.24c23.49,0,57.82,33.73,72.28,65.65S145.93,220.26,145.93,220.26Z" transform="translate(-89.92 -59.44)"/><path class="cls-4" d="M443.74,220.26s20.48-55.41,9-97.58-19.88-59-25.3-63.24c-23.49,0-57.82,33.73-72.28,65.65S443.74,220.26,443.74,220.26Z" transform="translate(-89.92 -59.44)"/></g><g id="Layer_6" data-name="Layer 6"><path class="cls-5" d="M172.27,121.54s14.46,41.56,31.92,32.52.61-41-4.21-48.79-31.32-33.73-31.32-33.73-24.4,34.08-24.4,71.16,15.32,54,20.78,34.85c1.58-20.93-3.61-34.33-3.61-36.14s6.34,12.05,16.42,14.46C169.26,132.38,172.27,121.54,172.27,121.54Z" transform="translate(-89.92 -59.44)"/><path class="cls-5" d="M416,121.54s-14.46,41.56-31.93,32.52-.6-41,4.22-48.79,31.32-33.73,31.32-33.73S444,105.62,444,142.7s-15.32,54-20.79,34.85c-1.57-20.93,3.62-34.33,3.62-36.14s-6.35,12.05-16.43,14.46C419,132.38,416,121.54,416,121.54Z" transform="translate(-89.92 -59.44)"/></g><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M293,147.68c28.44-1.9,47.26-2,55.4-16.72s17.14-36.71,31-41.15c-14.22,16.23-20.7,24.39-22.78,42-2.3,13.56,17.59,31,29.34,37.3s68.67,54.41,75.14,82,19.87,59.58,35,63.91c0,0-4.32,17.28-41.89,14.26,2.15,44.91-2.6,90.25-14.26,105.37-5.61-36.71-10.79-35.84-17.27-44.05,0,25.45-11.21,88.25-23.32,105.37,2.59-28.93-5.54-61.92-9.93-55.71-17.71,25.05-27.21,68.67-22,83.35-11.23-9.07-20.73-30.66-21.16-38C315.53,513.3,293,548.71,293,567.71Z" transform="translate(-89.92 -59.44)"/><g class="cls-6"><path class="cls-4" d="M454.16,329.33s-4.48,68.71-11,81.82c-8.73-16.38-20.49-20.5-20.49-20.5l8.26,35.57,14.2,21.41,27.31-47.18-18.24-71.12" transform="translate(-89.92 -59.44)"/><path class="cls-4" d="M422.63,390.65s-11.07,60.69-17.52,76.42c-3.27-9.17-9.52-26.81-14-27.38h0l-.59,22.8L389,488.92l1.75,17.91,14.63.44,14.86-20.54,7.48-64.22-5-31.86" transform="translate(-89.92 -59.44)"/><path class="cls-4" d="M390.2,439.61s-30.12,39.31-29.77,62.76c-3.9-1.25-8.38-5.19-14.24-16.71h0L342.75,505,355,525.47l17.85,4.37,5.43-30.45,11-53,.9-6.76" transform="translate(-89.92 -59.44)"/></g><path class="cls-2" d="M293,147.68c-14.79-1-46.84-2.76-54.42-18.11s-14-29.21-27.66-39.89c14.21,16.23,16.78,22.42,18.94,34.95s-18.62,40.29-29.8,44.48-68.66,54.41-75.14,82-19.87,59.58-35,63.91c0,0,4.32,17.28,41.89,14.26-2.16,44.91,2.59,90.25,14.25,105.37,5.61-36.71,10.8-35.84,17.27-44.05,0,25.45,11.21,88.25,23.32,105.37-2.59-28.93,5.54-61.92,9.94-55.71,17.7,25.05,27.2,68.67,22,83.35,11.23-9.07,20.73-30.66,21.16-38C270.43,513.3,293,548.71,293,567.71Z" transform="translate(-89.92 -59.44)"/><g class="cls-7"><path class="cls-8" d="M131.81,329.33s4.48,68.71,11,81.82c8.74-16.38,20.49-20.5,20.49-20.5l-8.26,35.57-14.2,21.41-27.3-47.18,18.24-71.12" transform="translate(-89.92 -59.44)"/><path class="cls-8" d="M163.33,390.65s11.07,60.69,17.52,76.42c3.28-9.17,9.52-26.81,14.05-27.38h0l.59,22.8L197,488.92l-1.74,17.91-14.64.44-14.85-20.54-7.49-64.22,5-31.86" transform="translate(-89.92 -59.44)"/><path class="cls-8" d="M195.76,439.61s30.13,39.31,29.78,62.76c3.89-1.25,8.37-5.19,14.23-16.71h0L243.21,505,231,525.47l-17.85,4.37-5.42-30.45-11-53-.9-6.76" transform="translate(-89.92 -59.44)"/></g><path class="cls-8" d="M315.31,156.2c13.6,19.31,37.43,30.58,50.48,32.59s8.55,16.66,35,22.12,47.33,31.4,51,41.88c-17-12-21.2-13.23-30.52,14,.9-32.59-11.08-39.21-33.71-38.12-11.21-26.33-28.8-23.93-43.86-15.69,21.32-22.94-12-24.83-20.11-30.18S312.19,168.27,315.31,156.2Z" transform="translate(-89.92 -59.44)"/><path class="cls-8" d="M269.86,156.2c-13.59,19.31-37.43,30.58-50.48,32.59s-8.55,16.66-35,22.12-47.33,31.4-51,41.88c17-12,21.2-13.23,30.52,14-.9-32.59,11.08-39.21,33.72-38.12,11.2-26.33,28.79-23.93,43.85-15.69-21.32-22.94,12-24.83,20.12-30.18S273,168.27,269.86,156.2Z" transform="translate(-89.92 -59.44)"/><path class="cls-8" d="M293,164.79s-2.9,1.28-4.07,0-3.19-4-3.19-4,4.6,13.62,4.14,23.29-2.34,26.36-4.89,29.23c0,0,2.45-3.79,4.68-4.07a10.49,10.49,0,0,1,3.33-2.62" transform="translate(-89.92 -59.44)"/><path class="cls-8" d="M293,164.79s2.9,1.28,4.07,0,3.19-4,3.19-4-4.6,13.62-4.15,23.29,2.34,26.36,4.89,29.23c0,0-2.44-3.79-4.67-4.07a10.61,10.61,0,0,0-3.33-2.62" transform="translate(-89.92 -59.44)"/></g><g id="Layer_11" data-name="Layer 11"><path class="cls-9" d="M308.39,243c-6.88.41-6.09,21.17-6.51,39.11-.23,9.46,5.78,59.62,11.45,62.46,3.38,1.9,11.14,11,13.08,8.2-9.25-15.87-15.62-35.71-16-44.72C304.78,260.65,318.89,242.36,308.39,243Z" transform="translate(-89.92 -59.44)"/><path class="cls-10" d="M284.45,251.07c2.84,2.5,2.9,26.09,2.69,30.15s-2,15.39-4.36,19.5-5.94,12.82-13.32,17.91c-2.72-1.26-.08-8.24,1.4-14.89,4.37-3.19,6,.32,9.22-7.64s3.2-22.93,0-36.18C281.25,251.66,283.05,250.63,284.45,251.07Z" transform="translate(-89.92 -59.44)"/></g><g id="Layer_9" data-name="Layer 9"><path class="cls-11" d="M194.42,298.14S182.51,338.4,201,379.47s50.92,50.92,50.92,50.92-19.71-18.07-21.35-47.22-6.65-31.62-9.28-38.61S200.17,323.58,194.42,298.14Z" transform="translate(-89.92 -59.44)"/><path class="cls-4" d="M376.31,245.22c18.2,33,11,79-8.13,96.6a208.6,208.6,0,0,1-14.37,54.34c-10.49,24.64-19.37,52.86-80.72,49.95,35.61,14,40.39,42.78,40,51.71,0,0,31.59-20.69,41.27-63.21,1.24,23.57,13.8,25.57,13.8,25.57-3.47-21.32,19.29-42.34,27.95-65.17,9.6-25.32,8.33-52,4.16-59.41,18.44,0,21.41,17.53,28,22.88C432.24,300.39,412.68,271.05,376.31,245.22Z" transform="translate(-89.92 -59.44)"/></g><g id="Layer_4" data-name="Layer 4"><path class="cls-3" d="M217.79,257.44c14.68-8.64,28.94-7.34,35-3.45s12.53,14.25,9.5,28.5c0,0-3.31-7.64-18.19-9.54S230.32,260.9,217.79,257.44Z" transform="translate(-89.92 -59.44)"/><g class="cls-12"><circle class="cls-13" cx="159.5" cy="201.79" r="10.25"/></g><path class="cls-3" d="M371.66,257.44c-14.69-8.64-28.94-7.34-35-3.45s-12.53,14.25-9.51,28.5c0,0,3.32-7.64,18.2-9.54S359.13,260.9,371.66,257.44Z" transform="translate(-89.92 -59.44)"/><g class="cls-14"><circle class="cls-15" cx="250.11" cy="201.79" r="10.25"/></g></g><g id="Layer_8" data-name="Layer 8"><path class="cls-16" d="M293.6,365.88c-1.54-.55-16.17-2.77-20.05-2s-15.74,7-13,17.4,9.62,19.06,15.18,21.1,17.83,2.59,17.83,2.59Z" transform="translate(-89.92 -59.44)"/><path class="cls-16" d="M292.37,365.88c1.54-.55,16.16-2.77,20.05-2s15.73,7,12.95,17.4-9.62,19.06-15.17,21.1-17.83,2.59-17.83,2.59Z" transform="translate(-89.92 -59.44)"/></g><g id="Layer_7" data-name="Layer 7"><path class="cls-17" d="M293,421.66s-2.44-1.71-11.75.45-13,0-13,0a3.42,3.42,0,0,0,2.16,2.1,3,3,0,0,0-1.31.68s6.87,5.74,11.81,6.59,10,1.87,12,1.59Z" transform="translate(-89.92 -59.44)"/><path class="cls-17" d="M293,421.66s2.44-1.71,11.75.45,12.95,0,12.95,0a3.42,3.42,0,0,1-2.16,2.1,3,3,0,0,1,1.31.68S310,430.63,305,431.48s-10,1.87-12,1.59Z" transform="translate(-89.92 -59.44)"/></g></svg> -->
  <img src="images/logo/logo2.png" alt="" class="preload-logo" >
  <!-- <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg> -->
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
<!-- <script src="js/google-map.js"></script> -->
<script src="js/main.js"></script>

<!--Floating WhatsApp javascript-->  
<script type="text/javascript" src="js/floatingWA/floating-wpp.min.js"></script>


<!-- Custom JS  -->
<script src="js/custom.js"></script>


<!-- Whatsapp API -->
<script src="js/whatsapp.js"></script>
</body>
</html>
