<!DOCTYPE html>
<lang lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="stylesheet" href="css/custom.css" />

    <link rel="stylesheet" href="css/custom-blog.css" />


    <!-- Whatsapp API  -->
    <!--Floating WhatsApp css-->  
    <link rel="stylesheet" href="js/floatingWA/floating-wpp.min.css">  


    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  <div id="WAButton"></div>

    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand mx-auto d-block" href="/">
          <img src="images/logo/logo.png" alt="" height="55px">
        </a>
        <!-- RPW<img height="50px" src="images/logo/logo2.png" />LFIT -->
        <button
          class="navbar-toggler mx-auto"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <% if (title === "RP WOLFIT") { %>
            <li class="nav-item active">
              <a href="/" class="nav-link">Home</a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <% } %> <% if (title === "About") { %>
            <li class="nav-item active">
              <a href="/about" class="nav-link">About</a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            </li>
            <% } %> <% if (title === "Courses") { %>
            <li class="nav-item active">
              <a href="/courses" class="nav-link">Courses</a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/courses" class="nav-link">Courses</a>
            </li>
            <% } %> <% if (title === "Shop") { %>
            <li class="nav-item active">
              <a href="/shop" class="nav-link">Shop</a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/shop" class="nav-link">Shop</a>
            </li>
            <% } %> <% if (title === "Blog") { %>
            <li class="nav-item active">
              <a href="/blog" class="nav-link">Blog</a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/blog" class="nav-link">Blog</a>
            </li>
            <% } %> <% if (title === "Contact") { %>
            <li class="nav-item active">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
