<%- include('partials/header') %>

<section class="hero-wrap js-fullheight">
  <div
    class="overlay"
    style="background-image: url(images/about_us.jpg)"
    data-stellar-background-ratio="0.5"
  ></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
    >
      <div class="col-md-12 text-center ftco-animate">
        <h1
          class="mb-3 bread"
          style="background-image: url(images/bg_112.jpg)"
          data-stellar-background-ratio="0.5"
        >
          About us
        </h1>
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/">Home.</a></span> <span>About Us</span>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- 
<section
  class="ftco-counter ftco-bg-dark img d-none"
  id="section-counter"
  style="background-image: url(images/bg_2.jpg)"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="5000">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="4560">0</strong>
                <span>Perfect Bodies</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="570">0</strong>
                <span>Working Hours</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="900">0</strong>
                <span>Success Stories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<br />
<br />
<br />
<br />
<br />
<br />
<section class="ftco-about d-md-flex">
  <div
    class="one-half img"
    style="background-image: url(images/heroicWall1.jpeg)"
  >
    <a
      href="https://vimeo.com/455594905"
      class="icon popup-vimeo d-flex justify-content-center align-items-center"
    >
      <span class="icon-play"></span>
    </a>
  </div>
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate">
      <h2 class="mb-4">RPWOLFIT</h2>
    </div>
    <div>
      <p>
        Hello my name is Ranjan Patni, and I am a Personal Trainer. I was born
        in Kohlapur which is a city in Maharastra.state in India. During my
        teenage years whilst studying at school, I was considered to have that
        skinny body and found none of my friends took me seriously. Boys will be
        boys and said malicious words that left an impact on my confidence.
      </p>
      <p>
        In my mind I was adamant what measures I had to implement in my life, to
        boost my character and my physical body. Life is unprecedented
        therefore, I decided to take stringent steps to help motivate me to
        reach my goals. I sought advice from various Personal Trainers, read
        articles to gain more knowledge, and finally came to the conclusion it
        was imperative for me to incorporate a training programme, which was
        suitable and tailored for my needs. I had the determination, willpower
        and drive to make it reality.
      </p>
    </div>
  </div>
</section>

<section
  class="ftco-section testimony-section"
  style="background-image: url(images/bg_4.jpg)"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Paris
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">About Us</h2>
        <p>
          I have always been fond of dogs, so last year was searching for that
          particular dog which resembles a wolf. During my search I came across
          a Siberian husky, a friendly and intelligent dog, which has wolf
          features. I was so mesmerised by the dog so decoded to buy the dog and
          brought her home. I named my dog Paris as I wanted a unique name.
        </p>
        <!-- <div class="row my-4">
          <div class="col-lg-6">
            <img width="100%" src="images/bg_4.jpg" alt="" />
          </div>
          <div class="col-lg-6">
            <img width="100%" src="images/bg_2.jpg" alt="" />
          </div>
        </div> -->

        <br />

        <a href="/blog-single">
          <img class="trust-img" src="images/trust-img.jpeg" alt="" />
        </a>
        <p class="mt-4">
          I started training Paris to participate in my training exercises, and
          realised she enjoyed the exercises and attention I was giving her.
          Paris became my mentor and supported me in my Fitness Training
          Programs, she is the wow factor to my concept and teaching methods.
          Paris is a unique global dog, her name alone signifies one of the
          wonders of the World. Paris will be leading a Charity Club for Animals
          all over the world.
          <a href="http://rpwolfit.com/trust">Read more...</a>
        </p>
        <h3>
          <a href="http://rpwolfit.com/trust" target="_blank"
            >RPWOLFIT Charitable Trust</a
          >
        </h3>
        <br />
        <br />
        <br />
        <div class="row">
          <div class="col-lg-6">
            <p class="mt-4">
              In March 2020 Covid -19 virus, came to surface and globally the
              world was facing a pandemic. During this challenging environment,
              everyone was instructed to stay indoors to protect themselves
              against the virus. The general public were confined to their
              homes, no form of exercise, impulsive eating, and limited
              entertainment causing stress and anxiety levels to increase.
            </p>
          </div>
          <div class="col-lg-6">
            <a href="/blog-single">
              <img src="images/image_1.jpg" width="100%" alt="" />
            </a>
          </div>
        </div>

        <br />
        <br />
        <p>
          I am certain you may not be familiar with this type of concept, where
          you engage in our programs with Paris being your mentor.
        </p>

        <br />
        <br />
        <div class="row">
          <div class="col-lg-6">
            <a href="/blog-single">
              <img src="images/about.jpg" width="100%" alt="" />
            </a>
          </div>
          <div class="col-lg-6">
            <p class="mt-4">
              I thought of many workout programs but nothing really
              materialised, until one day I was on the terrace of my house with
              my dog and visualised Paris becoming my training partner. Yes,
              that was the plan my dog became my partner. I had taught Paris
              many workout exercises such as how to squat, high jump, stretch,
              pushups, sprint, cardio, and played football, she enjoyed the
              attention I was able to give her. My technique used after each
              variation was completed by running, or playing football with
              Paris. I realise now after lockdown how significant, it is to
              engage our pets so that they too can benefit from a healthy
              lifestyle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate">
      <h2 class="mb-4">RPWOLFIT</h2>
    </div>
    <div>
      <p>
        I idolised Aziz Shavershian known as Zyzz a famous Personal Trainer and
        model, who Russian born living in Australia. I booked various training
        sessions with different coaches to achieve maximum potential. I noticed
        within months of extensive training my body had changed shape, therefore
        I became more confident, which boosted my personality.
      </p>
      <p>
        I recall when I was completing my final MBA exams I realised I wanted to
        pursue a career as a Personal Trainer, and nothing else would be more
        satisfying and rewarding, ultimately giving me inner peace.
      </p>
      <p>
        Yes, you may be wondering how my Personal Training Programs are
        different from other Trainers, well I invite you to read my next page,
        which will explain in detail how I have implemented a concept which uses
        latest techniques that are beneficial for my cliental.
      </p>
    </div>
  </div>
  <div
    class="one-half img"
    style="background-image: url(images/heroicWall1.jpeg)"
  >
    <a
      href="https://vimeo.com/455594905"
      class="icon popup-vimeo d-flex justify-content-center align-items-center"
    >
      <span class="icon-play"></span>
    </a>
  </div>
</section>

<!--
<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 ftco-animate">
        <a
          href="gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-1.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-2.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-3.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-4.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->

<%- include('partials/footer') %>
