<%- include('partials/header') %>

<div class="soc-icons">
  <a
    class="soc-icon fa fa-instagram"
    target="_blank"
    href="https://www.instagram.com/theranjanpatni"
  >
  </a>
  <a
    class="soc-icon fa fa-facebook"
    target="_blank"
    href="https://www.facebook.com/theranjanpatni"
  >
  </a>
  <a
    class="soc-icon fa fa-twitter"
    target="_blank"
    href="https://twitter.com/theranjanpatni"
  >
  </a>
  <a
    class="soc-icon fa fa-youtube"
    target="_blank"
    href="https://www.youtube.com/channel/UC5xKX7n1dD9Z1Zsfjx9iL4w"
  >
  </a>
</div>

<section class="hero-wrap js-fullheight">
  <div id="bg-ranjan" class="overlay" data-stellar-background-ratio="0.5"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
    >
      <div class="col-md-12 text-center ftco-animate blog-tit">
        <h1
          class="mb-3 bread"
          style="background-image: url(images/2.jpg)"
          data-stellar-background-ratio="0.5"
        >
          Ranjan's Blog
        </h1>

        <!-- <p class="breadcrumbs">
             <span class="mr-2"><a href="index.html">Home.</a></span>
             <span>Blog</span>
           </p>-->
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <h2 class="mb-3 font-weight-bold">COVID SHEILD</h2>
        <h2 class="mb-3 font-weight-bold">With the rise of COVID-19,</h2>
        <p>
          WHO (world health organisation) started its major research on The
          Vaccine To Fight With Coronavirus, came on conclusion Immunity plays
          vital role to defend corona. Vaccine is focusing majorly on building
          IMMUNITY & other factors too.
        </p>
        <p>
          Our Immune system is the first line of defense. It plays a vital role
          in keeping infections, flu and diseases away and hence reduces the
          chances of falling sick. There are different ways of boosting your
          immunity and immune system and AYURVEDA is one of them.
        </p>
        <p>
          Well over 5000 years ago, the ancient science of medicine—Ayurveda—was
          born, unveiling a well of profound lifestyle practices and tactics
          that help to prevent disease and to return one to balance.
        </p>
        <p>
          <img
            src="images/2.jpg"
            alt=""
            class="img-fluid mx-auto d-block my-4"
          />
        </p>
        <h2 class="mb-3 mt-5">
          “The best thing about Ayurveda is that it's treatment always yields
          SIDE BENEFITS, NOT SIDE EFFECTS.”
        </h2>
        <p>
          Today, many are taking notice of ayurvedic herbs, herbal formulations,
          and other natural substances for their star-performing wellness
          benefits. Ayurveda has an array of options to choose from. Some are
          blends of several fruits or plants and are taken as rasayanas, a
          general wellness-promoting tonic. Some are adaptogens, meaning their
          function adjusts according to the specific needs of the body, for
          which research is steadily growing. And others are non-plant earth
          substances, such as vegetable asphalts and metals. The well of healing
          potential is as full as it is eclectic.
        </p>
        <p>
          Here are the top most medically studied immune boosting ingredients
          focused in vaccination, in order of most studied to least studied.
        </p>
        <p>Here we go:</p>
        <p>Most Studied Herbs</p>
        <p>To Boost Your Immune</p>
        <p>To Support Your Health During This Pandemic:</p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row d-flex healthy-grid">
      <!-- <div class="col-lg-4 d-flex ftco-animate">
           <div class="blog-entry align-self-stretch">
             <a
               href="blog-single.html"
               class="block-20"
               style="
                 background-image: url('images/covid/textBlackPepperWall.jpg');
               "
             >
             </a>
             <div class="text py-4 d-flex">
               <div class="meta text-center">
                 <span class="day">04</span>
                 <span class="mos">January</span>
                 <span class="yr">2019</span>
               </div>
               <div class="desc">
                 <h3 class="heading mt-2">
                   <a href="#">Crossfit Harder Workout</a>
                 </h3>
                 <p>
                   A small river named Duden flows by their place and supplies
                   it with the necessary regelialia.
                 </p>
               </div>
             </div>
           </div>
         </div>
         <div class="col-lg-4 d-flex ftco-animate">
           <div class="blog-entry align-self-stretch">
             <a
               href="blog-single.html"
               class="block-20"
               style="background-image: url('images/image_2.jpg');"
             >
             </a>
             <div class="text py-4 d-flex">
               <div class="meta text-center">
                 <span class="day">03</span>
                 <span class="mos">January</span>
                 <span class="yr">2019</span>
               </div>
               <div class="desc">
                 <h3 class="heading mt-2">
                   <a href="#">Crossfit Harder Workout</a>
                 </h3>
                 <p>
                   A small river named Duden flows by their place and supplies
                   it with the necessary regelialia.
                 </p>
               </div>
             </div>
           </div>
         </div>
         <div class="col-lg-4 d-flex ftco-animate">
           <div class="blog-entry align-self-stretch">
             <a
               href="blog-single.html"
               class="block-20"
               style="background-image: url('images/image_3.jpg');"
             >
             </a>
             <div class="text py-4 d-flex">
               <div class="meta text-center">
                 <span class="day">02</span>
                 <span class="mos">January</span>
                 <span class="yr">2019</span>
               </div>
               <div class="desc">
                 <h3 class="heading mt-2">
                   <a href="#">Crossfit Harder Workout</a>
                 </h3>
                 <p>
                   A small river named Duden flows by their place and supplies
                   it with the necessary regelialia.
                 </p>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 d-flex ftco-animate">
           <div class="blog-entry align-self-stretch">
             <a
               href="blog-single.html"
               class="block-20"
               style="background-image: url('images/image_4.jpg');"
             >
             </a>
             <div class="text py-4 d-flex">
               <div class="meta text-center">
                 <span class="day">04</span>
                 <span class="mos">January</span>
                 <span class="yr">2019</span>
               </div>
               <div class="desc">
                 <h3 class="heading mt-2">
                   <a href="#">Crossfit Harder Workout</a>
                 </h3>
                 <p>
                   A small river named Duden flows by their place and supplies
                   it with the necessary regelialia.
                 </p>
               </div>
             </div>
           </div>
         </div>
         <div class="col-lg-4 d-flex ftco-animate">
           <div class="blog-entry align-self-stretch">
             <a
               href="blog-single.html"
               class="block-20"
               style="background-image: url('images/image_5.jpg');"
             >
             </a>
             <div class="text py-4 d-flex">
               <div class="meta text-center">
                 <span class="day">03</span>
                 <span class="mos">January</span>
                 <span class="yr">2019</span>
               </div>
               <div class="desc">
                 <h3 class="heading mt-2">
                   <a href="#">Crossfit Harder Workout</a>
                 </h3>
                 <p>
                   A small river named Duden flows by their place and supplies
                   it with the necessary regelialia.
                 </p>
               </div>
             </div>
           </div>
         </div>
         <div class="col-lg-4 d-flex ftco-animate">
           <div class="blog-entry align-self-stretch">
             <a
               href="blog-single.html"
               class="block-20"
               style="background-image: url('images/image_6.jpg');"
             >
             </a>
             <div class="text py-4 d-flex">
               <div class="meta text-center">
                 <span class="day">02</span>
                 <span class="mos">January</span>
                 <span class="yr">2019</span>
               </div>
               <div class="desc">
                 <h3 class="heading mt-2">
                   <a href="#">Crossfit Harder Workout</a>
                 </h3>
                 <p>
                   A small river named Duden flows by their place and supplies
                   it with the necessary regelialia.
                 </p>
               </div>
             </div>
           <!-- </div> -->
    </div>
  </div>
  <!-- <div class="row mt-5">
         <div class="col text-center">
           <div class="block-27">
             <ul>
               <li><a href="#">&lt;</a></li>
               <li class="active"><span>1</span></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
               <li><a href="#">&gt;</a></li>
             </ul>
           </div>
         </div>
       </div>-->
  <!--</div>-->
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <h2 class="mb-3 font-weight-bold">FACT</h2>
        <h2 class="mb-3 font-weight-bold">
          Ayurveda can’t save you from covid-19.<br />
          But it does help to boost your immunity.
        </h2>
        <p>
          If you are being advised to chew Ayurvedic Spices to stay safe from
          covid-19, then you might want to read this.<br />
          Covid-19 and 2020 has shocked everyone’s life.
        </p>
        <h3>MUMBAI (City of Bollywood Mafia)</h3>
        <p>
          has already exceeded Wuhan’s tally of cases, Delhi is on the verge of
          becoming the next New York. The spike in the number of Corona positive
          cases & death cases has led to uncertainty and panic among people. And
          so, almost daily we come across a “magic trick” that will help us stay
          safe from the infection.
        </p>
        <p>
          While earlier, multivitamins & supplements was the touted remedy,
          nowadays it’s raining Ayurvedic Herbs & Spices.
        </p>

        <br />
        <h5>
          <i
            >“If you have strong immunity then there will be no major symptoms
            of covid-19 in you and you will deal with less complications. In
            fact, people with strong immunity can tame covid-19 in home
            isolation as well.”</i
          >
        </h5>

        <br />

        <h3>Myth that Ayurveda kills Corona..</h3>
        <p>
          Well over 5000 years ago, the ancient science of medicine—AYURVEDA—was
          born, unveiling a well of profound lifestyle practices and tactics
          that help to “ prevent disease and to return one to balance.”
        </p>
        <p>
          Ayurvedic Herbs might not prevent a coronavirus infection, but they
          can help boost your immunity. So, if your parents are making you drink
          that spicy kadha, do yourself a favour and gulp it down. “COVID-SHOT”
        </p>
      </div>
    </div>
  </div>
</section>
<!-- .section-->

<%- include('partials/footer') %>
