<%- include('partials/header') %>

<section class="hero-wrap js-fullheight">
  <div
    class="overlay courses-overlay"
    style="background-image: url(images/course.jpeg)"
    data-stellar-background-ratio="0.5"
  ></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
    >
      <div class="col-md-12 text-center ftco-animate">
        <h1
          class="mb-3 bread"
          style="background-image: url(images/bg_112.jpg)"
          data-stellar-background-ratio="0.5"
        >
          Courses
        </h1>
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/">Home.</a></span>
          <span>Courses</span>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 img img-2 order-md-last"
        style="background-image: url(images/bg_2-1.jpg)"
      ></div>
      <div class="col-md-6 py-5">
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-gym"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Crossfit</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-woman"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Aerobic Classes</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-workout"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Fitness</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-meditation"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Yoga Classes</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-stationary-bike"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Cardio Training</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Pricing For Courses
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Courses</h2>
        <!-- <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          class="pricing-wrap ftco-animate img"
          style="background-image: url(images/home.jpg)"
        >
          <div class="title p-4">
            <h3>Homeworkout<br />(1 Month)</h3>
            <p>
              There is no need for any special equipment, you can do the
              exercises together or split them up throughout the day.
            </p>
          </div>
          <div class="text p-4 d-flex align-items-end">
            <a
              href="https://api.whatsapp.com/send?phone=+917219676919&text=Hey%20There,%20I%20want%20to%20enroll%20in%20Homeworkout%20plan"
              class="btn-custom px-4 py-2"
              target="_blank"
              >Enroll Now</a
            >
            <div>
              <span class="price">₹3000.00</span>
              <h3>
                <a
                  href="https://api.whatsapp.com/send?phone=+917219676919&text=Hey%20There,%20I%20want%20to%20enroll%20in%20Homeworkout%20plan"
                  target="_blank"
                  >Home Workout</a
                >
              </h3>
              <ul>
                <li>Strength Training</li>
                <li>Body Weight / Free Weight / No Equipment Used</li>
                <li>Weight Training</li>
                <li>Shape Up</li>
                <li>Transformation</li>
                <li>HIIT/ Cardio/ Intense / Functional</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="pricing-wrap ftco-animate img"
          style="background-image: url(images/gym.jpeg)"
        >
          <div class="title p-4">
            <h3>Gym Workout<br />(1 Month)</h3>
            <p>
              This is specially targeted for those people who would like to use
              various machines to assist them with their training.
            </p>
          </div>
          <div class="text p-4 d-flex align-items-end">
            <a
              href="https://api.whatsapp.com/send?phone=+917219676919&text=Hey%20There,%20I%20want%20to%20enroll%20in%20GymWorkout%20plan"
              class="btn-custom px-4 py-2"
              target="_blank"
              >Enroll Now</a
            >
            <div>
              <span class="price">₹5000.00</span>
              <h3>
                <a
                  href="https://api.whatsapp.com/send?phone=+917219676919&text=Hey%20There,%20I%20want%20to%20enroll%20in%20GymWorkout%20plan"
                  target="_blank"
                  >Gym Workout</a
                >
              </h3>
              <ul>
                <li>Strength Training</li>
                <li>Body weight / Free Weight / No Equipment</li>
                <li>Weight Training</li>
                <li>Shape up</li>
                <li>Transformation</li>
                <li>HIIT/ Cardio / Intense / Functional / Cross Fit</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="pricing-wrap ftco-animate img"
          style="background-image: url(images/advance.jpeg)"
        >
          <div class="title p-4">
            <h3>Advanced Plan<br />(3 Months)</h3>
            <p>
              This plan is highly recommended for those people who wants to
              reach their goals within a short timespan whether it is for a
              photo-shoot or competition.
            </p>
          </div>
          <div class="text p-4 d-flex align-items-end">
            <a
              href="https://api.whatsapp.com/send?phone=+917219676919&text=Hey%20There,%20I%20want%20to%20enroll%20in%20Advanced%20plan"
              class="btn-custom px-4 py-2"
              target="_blank"
              >Enroll Now</a
            >
            <div>
              <span class="price">₹30000.00</span>
              <h3>
                <a
                  href="https://api.whatsapp.com/send?phone=+917219676919&text=Hey%20There,%20I%20want%20to%20enroll%20in%20Advanced%20plan"
                  target="_blank"
                  >Advanced Plan</a
                >
              </h3>
              <ul>
                <li>Weekly Consultancy</li>
                <li>Body Weight / Free Weight / No equipment</li>
                <li>Weight Training</li>
                <li>Shape UP</li>
                <li>Transformation</li>
                <li>Diet Plan</li>
                <li>Workout plan</li>
                <li>Customizable Plans</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <iframe
      width="100%"
      src="https://forms.office.com/Pages/ResponsePage.aspx?id=Vhm9Cdrtmk6VQ3x6os9Ogc1GM3IMHAVPv75vojj6WjtUOU8zVEtONk5JNUNDMzIzRFNNRVZEMEM5Sy4u&embed=true"
      frameborder="0"
      marginwidth="0"
      marginheight="0"
      style="border: none; max-width: 100%; height: 525vh"
      allowfullscreen
      webkitallowfullscreen
      mozallowfullscreen
      msallowfullscreen
    >
    </iframe>
  </div>
</section>

<%- include('partials/footer') %>
