<%- include('partials/header') %>

<section class="hero-wrap js-fullheight">
  <div
    class="overlay"
    style="background-image: url(images/heroicWall1.jpeg)"
    data-stellar-background-ratio="0.5"
  ></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
    >
      <h3 class="v">
        <a
          href="https://www.youtube.com/watch?v=NwPtnrfzFM4"
          class="popup-vimeo"
        >
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="icon-play"></span>
          </div>
          <!-- <a href="https://www.youtube.com/channel/UC5xKX7n1dD9Z1Zsfjx9iL4w"
            ><span>The Ranjan Patni</span> <br />Watch Our Video</a
          >-->
        </a>
      </h3>
      <div class="col-md-12 text-center ftco-animate">
        <h1
          class="mt-5"
          style="background-image: url(images/bg_11.jpeg)"
          data-stellar-background-ratio="0.5"
        >
          RPWOLFIT
        </h1>
        <h2>Sculpt. Like a Greek God</h2>
      </div>
    </div>
  </div>
</section>

<!-- <section class="">
  <div class="container">
    <h1 class="text-center">About</h1>
  </div>
</section> -->

<section class="ftco-section">
  <div class="container d-none">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Pricing For Courses
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Pricing For Courses</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          class="pricing-wrap ftco-animate img"
          style="background-image: url(images/program-1.jpg)"
        >
          <div class="title p-4">
            <h3>Weight Lifting</h3>
            <span>Behind the word mountains</span>
          </div>
          <div class="text p-4 d-flex align-items-end">
            <a href="/contact" class="btn-custom px-4 py-2">Enroll Now</a>
            <div>
              <span class="price">₹ 3,000/-</span>
              <h3><a href="/contact">Weight Lifting</a></h3>
              <p>
                Far far away, behind the word mountains, far from the countries.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="pricing-wrap ftco-animate active img"
          style="background-image: url(images/program-2.jpg)"
        >
          <div class="title p-4">
            <h3>Prep Training</h3>
            <span>Behind the word mountains</span>
          </div>
          <div class="text p-4 d-flex align-items-end">
            <a href="/contact" class="btn-custom px-4 py-2">Enroll Now</a>
            <div>
              <span class="price">₹ 3,000/-</span>
              <h3><a href="/contact">Weight / fat Lose</a></h3>
              <p>
                Far far away, behind the word mountains, far from the countries.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="pricing-wrap ftco-animate img"
          style="background-image: url(images/program-3.jpg)"
        >
          <div class="title p-4">
            <h3>Weight Lifting</h3>
            <span>Behind the word mountains</span>
          </div>
          <div class="text p-4 d-flex align-items-end">
            <a href="/contact" class="btn-custom px-4 py-2">Enroll Now</a>
            <div>
              <span class="price">₹ 3,000/-</span>
              <h3><a href="/contact">Strength Training</a></h3>
              <p>
                Far far away, behind the word mountains, far from the countries.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="intro-content">
          <h1 class="text-left text-bold">Intro</h1>

          <p>
            In my mind I was adamant what measures I had to implement in my
            life, to boost my character and my physical body. Life is
            unprecedented therefore, I decided to take stringent steps to help
            motivate me to reach my goals. I sought advice from various Personal
            Trainers, read articles to gain more knowledge, and finally came to
            the conclusion it was imperative for me to incorporate a training
            programme, which was suitable and tailored for my needs. I had the
            determination, willpower and drive to make it reality.
            <a href="/about">Read More...</a>
          </p>
        </div>
      </div>

      <div class="col-lg-6">
        <img width="100%" src="images/intro-img.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="consult-content">
      <div class="row">
        <div class="col-lg-6">
          <img width="100%" src="images/intro-img.jpg" alt="" />
        </div>
        <div class="col-lg-6">
          <h1 class="text-right text-bold">Consultation</h1>

          <p>
            In our busy lifestyle generally we forget to look after ourselves. I
            can assist you and provide you with initial free consultation and
            create a specific training programme tailored for your requirements.
            Why wait, complete one of our contact forms for a free initial
            consultation in the strictest confidence
          </p>

          <p>
            Let’s aim for the stars and be on “Top of the World”, and we can
            achieve anything together. Give me that chance to help you reach
            your goals by incorporating a fitness regime that is a different
            concept and specially tailored for you.
          </p>

          <p>
            I will provide you with nutritional diet and lifestyle changes, when
            applied to our minds will make us happy and give inner peace.
          </p>

          <ul>
            <li>Eat better, without dieting or feeling deprived</li>
            <li>Get active, no matter what shape you are in now</li>
            <li>No diets or conflicting advice</li>
            <li>Build fitness into your life, without getting obsessed</li>
            <li>
              Achieve, and maintain, your goals, even with a busy schedule
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-6 img img-2 order-md-last"
        style="background-image: url(images/bg_2-1.jpg)"
      ></div>
      <div class="col-md-6 py-5">
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-gym"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Nutrition/ diet</h3>
            <p>
              Acquire about and implement nutritional strategies that will
              transform your physique without feeling starved.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-meditation"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Home Workout</h3>
            <p>
              Tailored, structured, time saving and progressive exercise
              programme to cater for your individual requirements
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-workout"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Gym Workout</h3>
            <p>
              Tailored, structured, time saving and progressive exercise
              programme to cater for your requirements and maintain your goals.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-meditation"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Shape Up / Lifestyle</h3>
            <p>
              Acquire and implement vital workout, mediation to assist your
              wellbeing and boost your confidence, so you feel amazing inside
              and outside.
            </p>
          </div>
        </div>
        <div class="program d-flex ftco-animate">
          <div
            class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last"
          >
            <span class="flaticon-stationary-bike"></span>
          </div>
          <div class="text ml-5 mr-lg-4 text-lg-right">
            <h3>Mind-set</h3>
            <p>
              By applying mind-set principles to your burning desire of
              achieving your goals, you will become a better version of
              yourself.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-counter ftco-bg-dark img"
  id="section-counter"
  style="background-image: url(images/bg_2.jpg)"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="560">0</strong>
                <span>Happy Transformations</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="768">0</strong>
                <span> Calories Burned</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="45">0</strong>
                <span>Workout Minute per Day</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="481">0</strong>
                <span>Success Stories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Trainer
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Our Coaches</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 d-flex">
        <div class="coach d-sm-flex align-items-stretch">
          <div
            class="img"
            style="background-image: url(images/trainer-1.jpg)"
          ></div>
          <div class="text py-4 px-5 ftco-animate">
            <span class="subheading">Head Coach</span>
            <h3><a href="#">Ranjan Patni</a></h3>
            <p>
              Hello my name is Ranjan Patni, and I am a Personal Trainer. I was
              born in Kohlapur which is a city in Maharastra. During my teenage
              years whilst studying at school, I was considered to have that
              skinny body and found none of my friends took me seriously.
            </p>
            <ul class="ftco-social-media d-flex mt-4">
              <li class="ftco-animate">
                <a
                  href="https://twitter.com/theranjanpatni"
                  class="mr-2 d-flex justify-content-center align-items-center"
                  ><span class="icon-twitter"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="https://www.facebook.com/theranjanpatni"
                  class="mr-2 d-flex justify-content-center align-items-center"
                  ><span class="icon-facebook"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="https://www.instagram.com/theranjanpatni/"
                  class="mr-2 d-flex justify-content-center align-items-center"
                  ><span class="icon-instagram"></span
                ></a>
              </li>
            </ul>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="coach d-sm-flex align-items-stretch">
          <div
            class="img"
            style="background-image: url(images/trainer-2.jpg)"
          ></div>
          <div class="text py-4 px-5 ftco-animate">
            <span class="subheading">Mentor</span>
            <h3><a href="#">Paris</a></h3>
            <p>
              Paris is a unique global dog, her name alone signifies one of the
              wonders of the World. Paris will be leading a Charity Club for
              Animals all over the world.
            </p>
            <ul class="ftco-social-media d-flex mt-4">
              <li class="ftco-animate">
                <a
                  href="#"
                  target="_blank"
                  class="mr-2 d-flex justify-content-center align-items-center"
                  ><span class="icon-twitter"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  target="_blank"
                  class="mr-2 d-flex justify-content-center align-items-center"
                  ><span class="icon-facebook"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  class="mr-2 d-flex justify-content-center align-items-center"
                  ><span class="icon-instagram"></span
                ></a>
              </li>
            </ul>
            <p></p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img order-xl-last" style="background-image: url(images/trainer-3.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Lead Trainer</span>
	    					<h3><a href="#">James Buffer</a></h3>
	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img order-xl-last" style="background-image: url(images/trainer-4.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Trainer</span>
	    					<h3><a href="#">Maricar Collins</a></h3>
	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div> -->
    </div>
  </div>
</section>

<section
  class="ftco-section testimony-section"
  style="background-image: url(images/bg_4.jpg)"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Testimonial
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">What People Say</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 ftco-animate">
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/testimon/testi1.jpeg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">
                      Hey 👋🏻 my name is Garima & I hail from Guwahati, Assam. I
                      have known Ranjan since last few months and have been
                      following his workout and diet plan. It has helped me a
                      lot in strengthening myself and my skin tone.✌🏻 I used to
                      workout before as well but always got disappointed with no
                      contending results. But I always kept moving, CONSISTENCY
                      was the main key for me not giving up on myself. He pushed
                      me, motivated me but a trainer can never do anything alone
                      if you won’t give your 100% back. The Guru Mantra is-
                      CONSISTENCY & HARD WORK you put in your work will
                      definitely pay you fruitful results today or tomorrow✌🏻
                    </p>
                    <p class="name">Garima <br />Guwahati, Assam</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/testimon/testi2.jpeg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">
                      I know Ranjan since few years and have been following his
                      workout and diet plan. It has helped me a lot in
                      strengthening myself I used to workout rarely and after i
                      came across Ranjan fitness plan , without any doubts i
                      jojned right away. Initial days i was unable to do
                      skipping, burpees without taking breaks and now i can do
                      them perfectly on a go and my body is supporting a lot and
                      i am fit half way now i can say I lost almost 4.5 kg of
                      weight and i can see drastic change in my healthstyle and
                      all this because of motivation given by Ranjan I stopped
                      eating white rice and substitute with millets and also i
                      recude salt intake as well as white sugar intake. He
                      pushed me, motivated me but a trainer can never do
                      anything alone if you won’t give your 100% back. Work Hard
                      for today and you can the results tomorrow and follow this
                      mantra.. Definitely you would see a change for better
                      tomorrow
                    </p>
                    <p class="name">Manish<br />Hydrabad, Telangana</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/testimon/testi3.jpeg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">
                      Myself Khushi and I’m from Delhi. I have started training
                      from Ranjan since last months and have been following his
                      workout and diet plan. His diet plans really works for me
                      as wonder. Within a month I have seen some changes in my
                      body that I never felt before. I used to workout before
                      also but never seen this much change in a short period of
                      time . He suggested simple homemade food which is easily
                      accessible and it really works for me. And he always keep
                      reminding that I m on right track and what is my results.
                      Thanks Ranjan for your motivation 😃🙏
                    </p>
                    <p class="name">Khushi<br />Delhi</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <!-- <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">
                      A small river named Duden flows by their place and
                      supplies it with the necessary regelialia. It is a
                      paradisematic country, in which roasted parts of sentences
                      fly into your mouth.
                    </p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">
                      A small river named Duden flows by their place and
                      supplies it with the necessary regelialia. It is a
                      paradisematic country, in which roasted parts of sentences
                      fly into your mouth.
                    </p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Read Articles
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Recent Blog</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a
            href="blog-single"
            class="block-20"
            style="background-image: url('images/image_1.jpg')"
          >
          </a>
          <div class="text py-4 d-flex">
            <div class="meta text-center">
              <span class="day">04</span>
              <span class="mos">January</span>
              <span class="yr">2019</span>
            </div>
            <div class="desc">
              <h3 class="heading mt-2">
                <a href="#">Crossfit Harder Workout</a>
              </h3>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a
            href="blog-single"
            class="block-20"
            style="background-image: url('images/image_2.jpg')"
          >
          </a>
          <div class="text py-4 d-flex">
            <div class="meta text-center">
              <span class="day">03</span>
              <span class="mos">January</span>
              <span class="yr">2019</span>
            </div>
            <div class="desc">
              <h3 class="heading mt-2">
                <a href="#">Crossfit Harder Workout</a>
              </h3>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-lg-2 d-flex ftco-animate">
        <!-- <div class="blog-entry align-self-stretch">
          <a
            href="blog-single"
            class="block-20"
            style="background-image: url('images/image_3.jpg')"
          >
          </a>
          <div class="text py-4 d-flex">
            <div class="meta text-center">
              <span class="day">02</span>
              <span class="mos">January</span>
              <span class="yr">2019</span>
            </div>
            <div class="desc">
              <h3 class="heading mt-2">
                <a href="#">Crossfit Harder Workout</a>
              </h3>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="ftco-appointment">
  <div class="overlay"></div>
  <div class="container-wrap">
    <div class="row no-gutters d-md-flex align-items-center">
      <div class="col-lg-5 d-flex align-self-stretch">
        <!-- <div id="map"></div> -->
      </div>
      <div class="col-lg-12 appointment ftco-animate">
        <div class="heading-section ftco-animate">
          <h2 class="mb-3">Contact With Us</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
        </div>
        <form action="#" class="appointment-form">
          <div class="d-md-flex">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
              />
            </div>
            <div class="form-group ml-md-4">
              <input type="text" class="form-control" placeholder="Last Name" />
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email Address"
              />
            </div>
            <div class="form-group ml-md-4">
              <input type="text" class="form-control" placeholder="Phone" />
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group">
              <textarea
                name=""
                id=""
                cols="30"
                rows="2"
                class="form-control"
                placeholder="Message"
              ></textarea>
            </div>
            <div class="form-group ml-md-4">
              <input
                type="submit"
                value="Appointment"
                class="btn btn-primary py-3 px-4"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery d-none">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 ftco-animate">
        <a
          href="/gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-1.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="/gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-2.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="/gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-3.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a
          href="/gallery"
          class="gallery img d-flex align-items-center"
          style="background-image: url(images/gallery-4.jpg)"
        >
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
