.navbar-brand {
  font-size: 2rem;
}

.consult-content {
  margin: 5rem 0;
  text-align: justify;
}

.upcoming {
  align-items: center;
  justify-content: center;
}

.consult-content h1 {
  font-weight: 600;
  /* margin: 2rem 0; */
}

.supply {
  background: white;
}
